/* inline code */
code {
  display: inline-block;
  padding: .3rem;
  font-family: $code-font;
  white-space: pre;
  background-color: $secondary-background-color;
  border: 1px solid $secondary-foreground-color;
  border-radius: 5px;
}
/* block code */
pre {
  padding: 1rem;
  font-family: $code-font;
  background-color: $secondary-background-color;
  border: 1px solid $secondary-foreground-color;
  border-radius: 5px;
  overflow-x: scroll;
  code {
    display: inline;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
}
/* highlighted code */
.highlight pre {
  line-height: 2.4rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}
