<div id="comparison-tabs">
  {{ range $index, $value := .Site.Params.servers }}
    <input id="radio-{{- .slug -}}" type="radio" name="tab" {{ if eq $index 0 }}checked="checked"{{ end }}/>
    <label for="radio-{{- .slug -}}">{{ .name }}</label>
  {{ end }}
  {{ range $index, $value := .Site.Params.servers }}
    <div class="tab-item" data-slug="{{- .slug -}}" data-name="{{- .name -}}">
      <dl>
        <dt>CCフィールド</dt>
        <dd>{{ if .cc }}あり{{ else }}なし{{ end }}</dd>
        <dt>サーバー</dt>
        <dd>{{ .server }}</dd>
      </dl>
    </div>
  {{ end }}
</div>