{{ if eq .Level 1 }}
  <h1 id="{{ .Anchor }}" class="mt5 mb4 tc">
    <span class="system-sans-serif f3 fw5 dib dark-gray bg-light-pink pv3 ph4" style="position: relative; width: 12em;">
      <span style="
        position: absolute;
        bottom: -1px;
        right: 9px;
        z-index: -1;
        transform: rotate(8deg);
        width: 70%; height: 50%;
        background-color: #d0d0d0;
        filter: blur(4px);">&nbsp;</span>
      <span>{{- .Text -}}</span>
    </span>
  </h1>
{{ else if eq .Level 2 }}
  <h2 id="{{ .Anchor }}" class="mt5 mb4 tc">
    <span class="system-sans-serif f3 fw5 dib dark-gray bg-light-blue pv3 ph4" style="position: relative; width: 12em;">
      <span style="
        position: absolute;
        bottom: -1px;
        right: 9px;
        z-index: -1;
        transform: rotate(8deg);
        width: 70%; height: 50%;
        background-color: #d0d0d0;
        filter: blur(4px);">&nbsp;</span>
      <span>{{- .Text -}}</span>
    </span>
  </h2>
{{ else }}
  <h{{ .Level }} id="{{ .Anchor }}" class="system-sans-serif f2 red">
    {{- .Text -}}
  </h{{ .Level }}>
{{ end }}
