<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ if ne .Kind "home" }}{{ block "title" . }}{{ end }} – {{ end }}{{ .Site.Title }}</title>
    {{ partial "head/cache-control" . }}
    {{ partial "head/analytics" . }}
    {{ partial "head/socials" . }}
    {{ partial "head/favicon" . }}
    {{ partial "head/styles" . }}
  </head>
  <body data-kind="{{ .Kind }}">
    {{ partial "header/header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer/footer" . }}
  </body>
</html>
