{{ $featured_image := "/images/cover/cover-2812x1875.jpg" }}
<header class="flex justify-center items-center cover bg-center" style="background-image: url('{{ $featured_image }}');">
  <div class="tl tc-l pv4 ph3 ph4-ns">
    <h1 class="mt0 mb0 f2 f1-ns f-5-l fw7 lh-title">
      <span class="red"><span>No</span><span class="white">CC:</span></span>
      <span class="white">メール</span>
    </h1>
    <h2 class="mt1 mb1 mb2-ns mb3-m mb4-l f3 f2-ns fw6 lh-title white">
      {{ .Params.description | compare.Default .Site.Params.description }}
    </h2>
  </div>
</header>