{{/*
	GetFeaturedImage

	This partial gets the url for featured image for a given page.

	If a featured_image was set in the page's front matter, then that will be used.

	If not set, this will search page resources to find an image that contains the word
	"cover", and if found, returns the path to that resource.

	If no featured_image was set, and there's no "cover" image in page resources, then
	this partial returns an empty string (which evaluates to false).

	@return RelPermalink to featured image, or an empty string if not found.

*/}}

{{/* Declare a new string variable, $linkToCover */}}
{{ $linkToCover := "" }}
{{ $matches := "feature,cover" }}
{{/* 1. サイト全体のカバー画像を優先 */}}
{{ with site.Params.featured_image.path }}
  {{ $linkToCover = . }}
{{ else }}
  {{/* 2. ページのfront matter */}}
  {{ with .Params.featured_image }}
    {{ $linkToCover = strings.Trim . "/" | urls.AbsURL }}
    {{ with $.Resources.GetMatch . }}
      {{ $linkToCover = .RelPermalink }}
    {{ end }}
  {{ else }}
    {{/* 3. ページバンドル内のcover画像 */}}
    {{ with .Resources.ByType "image" }}
      {{ with .GetMatch (fmt.Printf "**{%s}*" $matches) }}
        {{ $linkToCover = .RelPermalink }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* return either a permalink, or an empty string. Note that partials can only have a single
return statement, so this needs to be at the end of the partial (and not in the if block) */}}
{{ return $linkToCover }}
