/***************************************************************
 * Site Header
 **************************************************************/
header {
  aspect-ratio: 16 / 5;
  width: 100%;
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

header h1,
header h2 {
  position: relative;
  z-index: 1;
  text-shadow: 6px 6px 16px rgba(0, 0, 0, 0.8);
}

/***************************************************************
 * List
 **************************************************************/
.list-bullet-disc {
  list-style-type: disc;
}
.list-bullet-check {
  list-style-type: "✅";
}
.list-bullet-sakura {
  list-style-type: "🌸";
}

/***************************************************************
 * Table
 **************************************************************/
.table-scroll {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  min-width: 700px;
  font-weight: normal;
}
thead tr {
  background-color: #ffdfdf;
}
tbody tr {
  border-bottom: 1px solid #ffdfdf;
}
th,
td {
  font-weight: normal;
  padding: 0.5em 1em;
}
th,
td:first-child {
  font-weight: bold;
}
