/***************************************************************
 * Site Header
 **************************************************************/
header {
  aspect-ratio: 16 / 5;
  width: 100%;
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

header h1,
header h2 {
  position: relative;
  z-index: 1;
  text-shadow: 6px 6px 16px rgba(0, 0, 0, 0.8);
}

/***************************************************************
 * List
 **************************************************************/
.list-bullet-disc {
  list-style-type: disc;
}
.list-bullet-check {
  list-style-type: "✅";
}
.list-bullet-sakura {
  list-style-type: "🌸";
}

/***************************************************************
 * Table
 **************************************************************/
.table-scroll {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  min-width: 700px;
  font-weight: normal;
}
thead tr {
  background-color: #ffdfdf;
}
tbody tr {
  border-bottom: 1px solid #ffdfdf;
}
th,
td {
  font-weight: normal;
  padding: 0.5em 1em;
}
th,
td:first-child {
  font-weight: bold;
}

/***************************************************************
 * Comparison Table
 **************************************************************/
#comparison-tabs input {
  display: none;
  visibility: hidden;
}
#comparison-tabs label {
  display: block;
  padding: 0.2em 1em;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  text-align: center;
  color: #333333;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
#comparison-tabs input[type="radio"]:checked + label {
  background-color: #5ab4bd;
  color: #ffffff;
}
#comparison-tabs .tab-item {
  display: none;
  visibility: hidden;
  clear: both;
  padding: 1em;
  overflow: hidden;
  color: #222222;
  background-color: #f6f6f6;
}
#radio-application:checked ~ .tab-item[data-slug="application"],
#radio-nocc:checked ~ .tab-item[data-slug="nocc"],
#radio-cloud:checked ~ .tab-item[data-slug="cloud"] {
  display: block;
  visibility: visible;
}
#comparison-tabs .tab-item img {
  float: left;
  width: 8em;
  margin-right: 1em;
}
#comparison-tabs .tab-item dl {
  margin: 0;
  padding: 0;
}
/* tags */
.tab-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tab-item li {
  position: relative;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  margin: 0 0.5em 0.3em 1em;
  padding: 0 1em;
  border-radius: 0 5px 5px 0;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tab-item li::before {
  position: absolute;
  top: 0;
  left: -18px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 18px 18px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tab-item li::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-radius: 100%;
}
.tab-item li.feature {
  background-color: #21f31a;
  color: #ffffff;
}
.tab-item li.good {
  background-color: #3a9dfa;
  color: #ffffff;
}
.tab-item li.bad {
  background-color: red;
  color: #ffffff;
}
.tab-item li.feature::before {
  border-color: transparent #21f31a transparent transparent;
}
.tab-item li.good::before {
  border-color: transparent #3a9dfa transparent transparent;
}
.tab-item li.bad::before {
  border-color: transparent red transparent transparent;
}
.tab-item li.feature::after {
  background-color: #ffffff;
}
.tab-item li.good::after {
  background-color: #ffffff;
}
.tab-item li.bad::after {
  background-color: #ffffff;
}
/***************************************************************
 * Edition Table
 **************************************************************/
#edition-table {
  width: 100%;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}
#edition-table thead {
  width: auto;
}
#edition-table th,
#edition-table td {
  background-color: #ffffff;
  border-bottom: 1px solid #5ab4bd;
  text-align: center;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
  white-space: nowrap;
}
#edition-table th:first-child {
  color: #333333;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
}
