$primary-foreground-color: #f7fcfe; // 卯の花色（うのはないろ）
$primary-background-color: #5F8786; // 錆浅葱（さびあさぎ）
$secondary-foreground-color: #55505E; // ぶどう鼠（ぶどうねず）
$secondary-background-color: #fef4f4; // 桜色（さくらいろ）
$headding-color: #5F8786; // 錆浅葱（さびあさぎ）
$normal-foreground-color: #55505E; // ぶどう鼠（ぶどうねず）
$normal-background-color: #f7fcfe; // 卯の花色（うのはないろ）
$link-color: #e95295; // 躑躅色（つつじいろ）
$hover-color: #efbb24; // 鬱金（うこん）
